$o-mmm-contact_book-avatar-size: 36px !default;
$o-mmm-contact_book-icon-opacity: 0.6 !default;
$o-mmm-contact_book-side-date-opacity: 0.6 !default;
$o-mmm-contact_book-window-bg: #FAFAFA !default;
$o-mmm-contact_book-window-width: 350px !default;
$o-mmm-contact_book-window-height: 700px !default;
$o-mmm-chatter-gap: 10px !default;
$o-mmm-chatter-mobile-gap: 2% !default;
$o-mmm-chat-header-height: 46px !default;
$o-mmm-attachment-image-size: 100px !default;
$o-mmm-sidebar-icon-opacity: 0.7 !default;
$o-mmm-chat-sidebar-width: 250px !default;
$o-mmm-partner-avatar-size: 24px !default;
